*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card img{
    width: 200px;
    height: auto;
    margin-top: 100px;
    display: block;
    margin: auto;
 
    transition: 0.3s;
}
.card:hover img{
width: 120px;
top:-50px;

}

.text p{
  display: flex;
align-items: center;
justify-content: center;
text-align: center;
overflow: hidden;
 }

 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    flex-direction: column;
    width: 290px;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.952);
    
}
.card{
border: 1px solid black;
background-color: rgba(128, 128, 128, 0.384);
width: 250px;
height: 240px;
transition: 0.5s;
position: relative;
border-radius: 10px;
}
.card:hover{
    height: 450px;
    border: 1.5px solid black;
    background-color: rgba(128, 128, 128, 0.719);
    
}

.card .text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 200px;
    overflow: hidden;
    padding: 0 30px;
    width: 100%;
    height: 30px;
    transition: 0.4s;
    position: absolute;
    text-align: center;
}
.card:hover .text{
    top:130px;
    height: 250px;
}
